<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kickboard">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"
        />

    <uses-feature android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="UOU16"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KickBoard">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-f5k2ARRnqQBjErD7o1syZ1vfbhTSx7I" />
        <activity
            android:name=".view.BillActivity"
            android:exported="false" />
        <activity
            android:name=".view.UsageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.TakingActivity"></activity>

        <provider
            android:authorities="com.example.kickboard"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>
        <activity android:name=".view.DetectorActivity"/>
        <activity android:name=".view.MapActivity"/>

    </application>
</manifest>